{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block title %}
    Deletar - Nova Postagem
{% endblock title %}

{% block header %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url({% static 'img/home-bg.jpg' %})">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>Publicações</h1>
                        <span class="subheading">Blog desenvolvido em Django</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}

{% block content %}
    <h1>Deletar Postagem</h1>
    <div class="container">
        <form action="" method="post">{% csrf_token %}
            <p>Você tem certeza, que deseja excluir o registro "{{post.titulo}}" ?</p>
            <input type="submit" value="Confirmar" class="btn btn-danger">
        </form>
    </div>
{% endblock content %}